
@{
    ViewBag.Title = "CategorySales";
}




@*-------------------------------------------needs jquery to import data*@
<h2>CategorySales</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <canvas id="barcanvas">            </canvas>
         </div>
    </div>
    <div style="text-align:center">
        Tiedot on haettupaikallisesta testitietokannasta!


    </div>




</div>