<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="modal fade" id="ProductSalesPerDateModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Daily Sales</h2>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <canvas id="barcanvas">            </canvas>
                        </div>
                    </div>
                    <div style="text-align:center">
                        Tiedot on haettupaikallisesta testitietokannasta!
                    </div>




                </div>


            </div>



            <div class="modal-footer">
                <div>
                    <button class="btn btn-primary" data-dismiss="modal"><i class="fas fa-times"></i></button>

                </div>

            </div>



        </div>


    </div>



</div>



