@model IEnumerable<WebAppEka.Models.Products>

@{
    ViewBag.Title = "Index";
}

    <div class="row">
        <div class="col-sm-4X">
            @{int i = 0;
                foreach (var item in Model)
                {

                    if (i % 2 == 0)
                    {
                    <button class="btn-block btn-info p-3">
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </button>
                        }
                        i = i + 1;
                    }            }
        </div></div>