<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Northwind @ViewBag.LoggedStatus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="~/home/index"><img class="linkIMG" src="~/Icons/house.svg" />Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="~/home/about"><img class="linkIMG" src="~/Icons/info.svg" />About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/products/prodcards">Prodcards</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="~/orders/index">Orders</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Products</a>
                <div class="dropdown-menu" style="">
                    <a class="dropdown-item" href="~/products/index">Products index</a>
                    <a class="dropdown-item" href="~/products/ProdCards">Product cards</a>
                    <a class="dropdown-item" href="~/products/ProdCards2">Product cards 2</a>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Shippers</a>
                <div class="dropdown-menu" style="">
                    <a class="dropdown-item" href="~/shippers/index">Shipperss index</a>
                    <a class="dropdown-item" href="~/shippers/create">Add Shipper</a>

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/home/logout">logout </a>
            </li>


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>