<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Northwind @ViewBag.LoggedStatus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="btn active">
                <a class="nav-link" href="~/home/index"><img class="linkIMG" src="~/Icons/house.svg" />Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="btn">
                <a class="nav-link" href="~/home/about"><img class="linkIMG" src="~/Icons/info.svg" />About</a>
            </li>
            <li class="btn">
                <a class="nav-link" href="~/home/login">login </a>
            </li>
            <li class="btn"><a class="nav-link" data-toggle="modal" data-target="#LoginRuutu"> Login </a>   </li>

</ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
