@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hevosenkatu<br />
    Porvoo, 06100<br />
    <abbr title="Puhelin">P:</abbr>
    506664545
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:adam.zakar@student.careeria.fi">send mail to Adam</a><br />
    <strong>Marketing:</strong> <a href="mailto:adam.zakar@student.careria.fi">send mail to adam</a>
</address>