@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Minun ensimmäinen ASP.NET sovellus</h3>
    
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Mallibutton &raquo;</a></p>
</div>

