

@{
    ViewBag.Title = "Home Page";
}



@*Jquery , joka suoritetaan aina kun sivu latuautuu , se chekkaa että oloko login error joka tulee controllerista viewbagilta arvona 1*@
@section scripts {
    <script type="text/javascript">
               $(window).on('load', function () {
        if (@ViewBag.LoginError == 1) {
        $('#LoginRuutu').modal('show');
        }
        });

    </script>

}



<div class="jumbotron">
    <h3>Minun ensimmäinen ASP.NET sovellus</h3>

    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Mallibutton &raquo;</a></p>
</div>

@{
    Html.RenderPartial("_LoginModal");
}